* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.menu-container  {
    font-size: 18px;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.menu-container, #hero {
    background-color: #1f2937; /* Dark Blue */
    color: #E5E7EB;
}

.menu {
    /* border: 1px solid #fff; */
    width: 900px;
    display: flex;
    /* justify-content: space-around; */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: "Russo One", sans-serif;

}   

.link {
    color: #E5E7EB;
    text-decoration: none;
}

/* Pushes Services, About, Contact to the right */
.services {
    margin-left: auto;
}

.contact, .about {
    margin-left: 20px;
}

/* Hero styling */
#hero {
    /* border: solid 1px #fff; */
    display: flex;
    justify-content: center;
}

.hero-content {
    /* border: solid 1px #fff; */
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-info {
    width: 450px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero-info p {
    font-size: 18px;
    color: #E5E7EB;
}

#info {
    /* border: solid 10px #f11111; */

    padding-bottom: 100px;
}



.info-title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 50px auto;
}

.info-images {
    /* border: solid 10px rgb(225, 12, 12); */
    display: flex;
    justify-content: center;
}

.img-container {
    max-width: 250px;
    text-align: center;
}

.caption {
    color: #555;
    /* font-size: 1em; */
    margin-top: 10px;
}

.info-img {
    border: solid 4px #3882f6;
    border-radius: 15px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    margin: auto 30px;
}

button {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    background-color: #3882f6;
    border: none;
    padding: 12px 32px;
    border-radius: 10px;
    margin-top: 15px;
}

/* Review Section */

#review {
    /* border: solid 5px red; */
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.client {
    font-weight: bold;
    font-size: 1.8em;
}

.user {
    display: flex;
    justify-content: flex-end;
}

blockquote {
    /* border: solid 2px blue; */
    display: flex;
    flex-direction: column;
    width: 1200px;
}

/* CTA */
#cta {
    /* border: solid 2px #3882f6; */
    padding: 80px;
}

.cta-box {
    /* border: solid 2px rgb(249, 13, 190); */
    background-color: #3882f6;
    color: #fff;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
}



.cta-btn {
    background-color: #3882f6;
    border: solid 1px #fff;
    padding: 5px 20px;
    border-radius: 6px;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action p {
    font-weight: 300;
}

body {
    font-family: "Roboto", sans-serif;
}